

.body{
      overflow-x: hidden;
      z-index: 10;
      padding-top: 70px; /* space for fixed header */
}

/* So nav scroll lands with section below header */
section[id] {
  scroll-margin-top: 70px;
}   

@media only screen and (max-width: 480px){
      .body{
            padding: 0px 15px;
      }
}
