@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body,
html {
  padding: 0;
  margin: 0;

  font-family: "Lato", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(107.56deg, #1a0a2e 0%, #2d1b4e 50%, #1a0a2e 100%);
  height: 100%;
  background-attachment: fixed;
}

:root {
  text-rendering: optimizeLegibility;
  --color-blue: #6184d8;
  --color-biege: #ffa850;
  --color-white: #FCFCFF;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin; 
}

*::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  overflow: overlay;
}

*::-webkit-scrollbar-thumb{
  background-color: #807e7e;
  border-radius: 5px;
}

*::-webkit-scrollbar-track{
  background-color: #e5f0f86c;
}